[%# Note that error messages should generally be indented four spaces, like
  # below, because when Bugzilla translates an error message into plain
  # text, it takes four spaces off the beginning of the lines.
  #%]
[% IF error == "sap_remote_handler_failed" %]
    [% title = "Remote handler failed" %]
    Error: [% err FILTER html %]
[% END %]
