[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # Copyright (C) 2012 Jolla Ltd.
  # Contact: Pami Ketolainen <pami.ketolainen@jollamobile.com>
  #%]

[% IF template.name == 'bug/show.html.tmpl' or
        template.name == 'bug/process/results.html.tmpl' %]
<script type="text/javascript">
function enhanceSeeAlso(result)
{
    $(".bug_urls a").each(function() {
        var link = $(this);
        if (link.attr('href') != result.url) return;
        link.attr('title', result.status + ' - '
            + result.summary);
    });
}

$(function() {
    $(".bug_urls a").not(".bz_bug_link").each(function() {
        var rpc = new Rpc("SeeAlsoPlus", "get", {url: $(this).attr('href')});
        rpc.done(enhanceSeeAlso);
    });
});

</script>
[% END %]
