[%#
  # This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # Copyright (C) 2013 Jolla Ltd.
  # Contact: Pami Ketolainen <pami.ketolainen@jollamobile.com>
  #%]
[%
    title = "SeeAlsoPlus"
    desc = "SeeAlsoPlus Extension"
%]

[% param_descs.sap_invalid_cert_urls = BLOCK %]
Regexpses matching remote URL which don't have valid server certificate.
One per line.
[% END %]

[% param_descs.sap_cache_timeout = "How often to fetch the remote data, in seconds" %]
