[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # Copyright (C) 2014 Jolla Ltd.
  # Contact: Pami Ketolainen <pami.ketolainen@jolla.com>
  #%]


[% BLOCK bz_comment %]
<div class="bz_comment">
    <div class="bz_comment_head">
      <span class="bz_comment_number">[% n == 0 ? 'Description' : 'Comment ' _ n %]</span>
      <span class="bz_comment_user">
        <span class="vcard">
          <span class="fn">[% comment.author FILTER html +%]</span>
        </span>
      </span>
      <span class="bz_comment_time">
        [% comment.date FILTER time %]
      </span>
    </div>
    <pre class="bz_comment_text">[% comment.text FILTER wrap_comment FILTER html %]</pre>
  </div>
[% END %]


<div class="sap-info-box" title="[% item.title || item.summary FILTER html %]">
[% IF item.type == 'RemoteBugzilla' %]
  <table>
    <tr>
      <td colspan="2">
        <a href="[% item.url FILTER html %]"
          target="_blank">[% item.url FILTER html %]</a>
        Last fetched: [% item.cache_dt FILTER time %]
      </td>
    </tr>
    [% IF item.title != item.summary %]
    <tr>
      <th>Summary</th>
      <td>[% item.summary FILTER html %]</td>
    </tr>
    [% END %]
    <tr>
      <th>Status</th>
      <td>[% item.status FILTER html %]</td>
    </tr>
    <tr>
      <th>Reporter</th>
      <td>[% item.data.reporter_real_name FILTER html %]</td>
    </tr>
    <tr>
      <th>Assignee</th>
      <td>[% item.data.assigned_to_real_name FILTER html %]</td>
    </tr>
    <tr>
      <th>Last modified</th>
      <td>[% item.data.delta_ts FILTER time %]</td>
    </tr>
  </table>
  <hr>

  [% PROCESS bz_comment comment = item.data.comments.0, n = 0 %]
  [% FOREACH n IN [1 .. item.data.comments.max] %]
    [% PROCESS bz_comment comment = item.data.comments.$n %]
  [% END %]

[% ELSIF item.type == 'RemoteGitHub' %]

  <table>
    <tr>
      <td colspan="2">
        <a href="[% item.url FILTER html %]"
          target="_blank">[% item.url FILTER html %]</a>
        Last fetched: [% item.cache_dt FILTER time %]
      </td>
    </tr>
    [% IF item.title != item.summary %]
    <tr>
      <th>Summary</th>
      <td>[% item.summary FILTER html %]</td>
    </tr>
    [% END %]
    <tr>
      <th>Status</th>
      <td>[% item.status FILTER html %]</td>
    </tr>
    <tr>
      <th>Reporter</th>
      <td>[% item.data.user.login FILTER html %]</td>
    </tr>
    [% IF item.data.assignee %]
    <tr>
      <th>Assignee</th>
      <td>[% item.data.assignee.login FILTER html %]</td>
    </tr>
    [% END %]
    <tr>
      <th>Last modified</th>
      <td>[% item.data.updated_at FILTER time %]</td>
    </tr>
  </table>
  <hr>
  <pre>[% item.description FILTER wrap_comment FILTER html %]</pre>

[% ELSE %]
  [% Hook.process('end') %]
[% END %]
</div>
